HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
*.gz
/bin/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Terraform lock file (optional, if you don't want to lock provider versions)
.terraform.lock.hcl

# Terraform provider plugins and caches
.terraform/

# Ignore any override files (local customizations)
*.tfvars
*.tfvars.json

# Ignore Terraform plan files
*.plan
